<md-menu xPosition="after">
  <button md-menu-item [routerLink]="['home']" routerLinkActive="active"> Home </button>
  <button md-menu-item [routerLink]="['works']" routerLinkActive="active"> Works </button>
  <button md-menu-item [routerLink]="['blog']" routerLinkActive="active"> Blog </button>
</md-menu>

<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav">
    hello world!
  </md-sidenav>
<div class="example-sidenav-content">
  <button type="button" md-button (click)="sidenav.open()">
    Open sidenav
  </button>
</div>

  <!-- primary content -->
</md-sidenav-container>
